@use '../abstract/values.scss';
$form-control-border-radius: 0.375rem;
$form-control-border-color: #ced4da;
$form-control-focus-shadow: rgba(13, 110, 253, 0.25);
$text-color: #212529;

.form-group {
  margin-bottom: 1rem;

  label {
    display: inline-block;
    margin-bottom: 0.3rem;
    font-weight: 500;
    font-size: map-get(values.$fonts-sizes,14);
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    & small{
      font-size: 10px;
    }
    & span{
      font-size: 10px;
      color:values.$gray-color;
    }
  }

  .form-control {
    text-align: start;
    direction: rtl;
    display: block;
    width: 100%;
    padding:  10px 10px;
    font-size:  map-get(values.$fonts-sizes,14);
    color: $text-color;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid $form-control-border-color;
    border-radius: $form-control-border-radius;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-sizing: border-box;
    font-weight: 700;
    height: 46px;
    &:focus {
      border-color: values.$primary-color;
      outline: 0;
    }
    &::placeholder{
      text-align: start;
      font-weight: 400;
    }

  }
  .errorinput{
    border-color: red;
  }
  .error{
    color:red;
    font-size: 11px;
    direction: rtl;
  }
}
